csvtoejdb-build/-a
csvtoejdb-build/-t
csvtoejdb-build/CASH.xls
csvtoejdb-build/CASH/.~lock.CASH.xls#
csvtoejdb-build/CASH/CASH.xls.r146
csvtoejdb-build/CASH/CASH.xls.r198
csvtoejdb-build/CASH/CASH_test
csvtoejdb-build/CASH/CASH_test.csv
csvtoejdb-build/CASH/CASH_test_experiments
csvtoejdb-build/CASH/CASH_test_experiments.json
csvtoejdb-build/CASH/CASH_test_experiments_distinctTP.csv
csvtoejdb-build/CASH/CASHtest.csv
csvtoejdb-build/CASH/CASHtest.xlsx
csvtoejdb-build/CASH/CASHtest2.csv
csvtoejdb-build/CASH/cashtest
csvtoejdb-build/CASH/cashtest_experiments
csvtoejdb-build/CASH/distinctTP.csv
csvtoejdb-build/CASH/qtzh2okoh
csvtoejdb-build/CASH/qtzh2okoh_experiments
csvtoejdb-build/CASH/solcash_experiments.r146
csvtoejdb-build/CASH/solcash_experiments.r198
csvtoejdb-build/Makefile
csvtoejdb-build/SOL
csvtoejdb-build/Test_Denis.xls
csvtoejdb-build/Test_densNaCl.xls
csvtoejdb-build/csvtoejdb
csvtoejdb-build/densNaCl
csvtoejdb-build/obj
csvtoejdb-build/old_qtz_sol.xls
csvtoejdb-build/test.json
csvtoejdb/src-csvtoejdb/csvtoejdb.pro.user*
csvtoejdb/src-csvtoejdb/csvtoejdb.pro.user.0000000
csvtoejdb/src-csvtoejdb/csvtoejdb.pro.user.b878567.2.7pre1
gemsfit2/gemsfit2.pro.user*
gemsfit2-build/Makefile
gemsfit2-build/gemsfit2
gemsfit2-build/obj/*
gemsfit2-build/good
gemsfit2-build/stat_test
gemsfit2-build/test_input/SOL
gemsfit2-build/test_input/old
gfshell2/gemsfit-gui.pro.user
gfshell2-build/Makefile
gfshell2-build/gemsfits
gfshell2-build/gemsfits.ini
gfshell2-build/qrc_fgui.cpp
gfshell2-build/obj/*
gfshell2-build/tmp/*
Tests/1CASHNK/work/*
Resources/help/.gfshelp/*
gfshell2-build/ipmlog.txt
gfshell-build/*
gemsfit2-build/.qmake.stash
gfshell2-build/.qmake.stash
build/*
Resources/doc/html/qhelpgenerator
gemsfit2/gemsfit2-win32-64.pro.user*
gfshell2/gemsfit-win32-64-gui.pro.user*
gemsfit2/gemsfit2-win.pro.user*
gfshell2/gemsfit-win-gui.pro.user*
gfshell2/gemsfit-gui.pro.user*
build*

.vscode/
GEMSFITSDEPLOY/

Resources/help/gfshelp.qhc

