* text=auto !eol
gemsfit/docs/txt/HowToBuildGEMSFIT.txt -text
gemsfit/gemsfit.pro -text
gemsfit/gemsfits.pro -text
gemsfit/src-fit/data_manager.cpp -text
gemsfit/src-fit/data_manager.h -text
gemsfit/src-fit/fit.pri -text
gemsfit/src-fit/fit_statistics.cpp -text
gemsfit/src-fit/fit_statistics.h -text
gemsfit/src-fit/gemsfit_global_functions.cpp -text
gemsfit/src-fit/gemsfit_global_functions.cpp.new -text
gemsfit/src-fit/gemsfit_global_functions.h -text
gemsfit/src-fit/gemsfit_global_functions.h.new -text
gemsfit/src-fit/gemsfit_global_variables.h -text
gemsfit/src-fit/main.cpp -text
gemsfit/src-fit/measdata_modified.cpp -text
gemsfit/src-fit/opt_vector.cpp -text
gemsfit/src-fit/opt_vector.h -text
gemsfit/src-fit/optimization.cpp -text
gemsfit/src-fit/optimization.h -text
gemsfit/src-fit/plot_class.cpp -text
gemsfit/src-fit/plot_class.h -text
gemsfit/src-fit/system_properties.cpp -text
gemsfit/src-fit/system_properties.h -text
gemsfit/src-fit/system_restart.cpp -text
gemsfit/src-fit/system_restart.h -text
gemsfitgui-build/stylesheet.qss -text
gemsfitgui-build/ui/ui_mainwindow.h -text
gemsfitgui-build/ui/ui_sqlscript.h -text
gemsfitgui/forms/browserwidget.ui -text
gemsfitgui/forms/mainwindow.ui -text
gemsfitgui/forms/qsqlconnectiondialog.ui -text
gemsfitgui/forms/sqlscript.ui -text
gemsfitgui/gemsfit-gui.pro -text
gemsfitgui/src-gui/gui.pri -text
gemsfitgui/src-gui/main.cpp -text
gemsfitgui/src-gui/mainwindow.cpp -text
gemsfitgui/src-gui/mainwindow.h -text
gemsfitgui/src-gui/moc_grid_delegate.cpp -text
gemsfitgui/src-gui/moc_mainwindow.cpp -text
gemsfitgui/src-gui/moc_sqlscript.cpp -text
gemsfitgui/src-gui/sqldbmanager.cpp -text
gemsfitgui/src-gui/sqldbmanager.h -text
gemsfitgui/src-gui/sqlscript.cpp -text
gemsfitgui/src-gui/sqlscript.h -text
gemsfitgui/src-gui/system_properties.cpp -text
gemsfitgui/src-gui/system_properties.h -text
