* text=auto !eol
Tests/BHMsol/01/gf2run.bat -text
Tests/BHMsol/EJDB/Boehmite -text
Tests/BHMsol/EJDB/Boehmite_experiments -text
Tests/BHMsol/dbimport/Boehmite_Be.xlsx -text
Tests/BHMsol/dbimport/toejdbrun.bat -text
Tests/BHMsol/gf2init.bat -text svneol=unset#application/octet-stream
Tests/CASH/CASH-data-LHopital/CASH-EL01-data.xls -text
Tests/CASH/CASH-data-LHopital/impdata-expcsd.sql -text
Tests/CASH/CASH-data-LHopital/impdata-expresaq.sql -text
Tests/CASH/CASH-data-LHopital/impdata-expresss.sql -text
Tests/CASH/CASH-data-LHopital/impdata_to_exp_comp.sql -text
Tests/CASH/CASH-data-LHopital/impdata_to_exp_phases.sql -text
Tests/CASH/CASH-data-LHopital/impdata_to_resultsaq.sql -text
Tests/CASH/CASH-data-LHopital/impdata_to_resultsss.sql -text
Tests/CASH/CSH-ch04-data.xls -text
Tests/CASH/CSH-gc65-data.xls -text
Tests/CASH/impdata_to_exp_comp.sql -text
Tests/CASH/impdata_to_exp_phases.sql -text
Tests/CASH/impdata_to_resultsaq.sql -text
Tests/CASH/impdata_to_resultsaqsql -text
Tests/CASH/impdata_to_resultsss.sql -text
Tests/CASH/solcash.backup -text
Tests/CASH/solcash_gs65.backup -text
Tests/CASH/solcash_new.backup -text
Tests/CSH3T2/EJDB/cshsolubil -text
Tests/CSH3T2/EJDB/cshsolubil_experiments -text
Tests/CSH3T2/GEMS/CSHQ-subl.zip -text
Tests/CaSrCO3/EJDB/solargstr -text
Tests/CaSrCO3/EJDB/solargstr_experiments -text
Tests/CaSrCO3/GEMS/GF2-SrCaC.zip -text
Tests/Kinet/GEMS/CarbSea.zip -text
Tests/SS_INPUT/SS_GEMSFIT_input.dat -text
Tests/SS_INPUT/qtz_h2o_test-dat.lst -text
Tests/SS_INPUT/qtz_h2o_test-dbr-0-0000.dat -text
Tests/SS_INPUT/qtz_h2o_test-dbr.lst -text
Tests/SS_INPUT/qtz_h2o_test-dch.dat -text
Tests/SS_INPUT/qtz_h2o_test-ipm.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dat.lst -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0000.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0001.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0002.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0003.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0004.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0005.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0006.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0007.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0008.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0009.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0010.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0011.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0012.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0013.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0014.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0015.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0016.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0017.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0018.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0019.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr.lst -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dch.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-ipm.dat -text
Tests/SS_INPUT_CSV/solubility.csv -text
Tests/Test[!!-~]gemsfit1&2/qtz-koh/1/qtz_koh_sqldb -text
Tests/Test[!!-~]gemsfit1&2/qtz-koh/2/qtzh2okoh -text
Tests/Test[!!-~]gemsfit1&2/qtz-koh/2/qtzh2okoh_experiments -text
Tests/Test[!!-~]gemsfit1&2/qtz-koh/RDC/1/qtz_koh_sqldb -text
Tests/Test[!!-~]gemsfit1&2/qtz-koh/RDC/2/qtzh2okoh -text
Tests/Test[!!-~]gemsfit1&2/qtz-koh/RDC/2/qtzh2okoh_experiments -text
Tests/Test[!!-~]gemsfit1&2/solcash/1/solcash_sqldb -text
Tests/Test[!!-~]gemsfit1&2/solcash/2/solcash -text
Tests/Test[!!-~]gemsfit1&2/solcash/2/solcash_experiments -text
Tests/soldata.backup -text
Tests/test.backup -text
csvtoejdb-build/CASH/CASH.csv -text
csvtoejdb-build/CASH/CASH.xls -text
csvtoejdb-build/CASH/solcash -text
csvtoejdb-build/CASH/solcash_experiments -text
csvtoejdb/csvtoejdb.pro -text
csvtoejdb/src-csvtoejdb/csv_parser.cpp -text
csvtoejdb/src-csvtoejdb/csv_parser.h -text
csvtoejdb/src-csvtoejdb/csvtoejdb.pri -text
csvtoejdb/src-csvtoejdb/keywords.h -text
csvtoejdb/src-csvtoejdb/main.cpp -text
csvtoejdb/src-csvtoejdb/read_ejdb.cpp -text
csvtoejdb/src-csvtoejdb/read_ejdb.h -text
gemsfits-build/gemsfit_input.dat -text
gemsfits-build/test_input/AllDa3T-fwd-dat.lst -text
gemsfits-build/test_input/AllDa3T-fwd-dbr-0-0000.dat -text
gemsfits-build/test_input/AllDa3T-fwd-dbr.lst -text
gemsfits-build/test_input/AllDa3T-fwd-dch.dat -text
gemsfits-build/test_input/AllDa3T-fwd-ipm.dat -text
gemsfits-build/test_input/CASH/CASH.csv -text
gemsfits-build/test_input/CASH/CASH.xls -text
gemsfits-build/test_input/CASH/solcash -text
gemsfits-build/test_input/CASH/solcash_experiments -text
gemsfits/docs/html/bgimg-gray.jpg -text
gemsfits/docs/html/gemsfit2.png -text
gemsfits/docs/xls/excel_example.xls -text
gemsfits/docs/xls/solcash_example.xlsx -text
gemsfits/gemsfit2.pro -text
gemsfits/src-fit/data_manager.cpp -text
gemsfits/src-fit/data_manager.h -text
gemsfits/src-fit/fit.pri -text
gemsfits/src-fit/gemsfit_iofiles.cpp -text
gemsfits/src-fit/gemsfit_iofiles.h -text
gemsfits/src-fit/gemsfit_task.cpp -text
gemsfits/src-fit/gemsfit_task.h -text
gemsfits/src-fit/main.cpp -text
gemsfits/tcejdb/doc/benchmark.pdf -text
gemsfits/tcejdb/doc/icon16.png -text
gemsfits/tcejdb/doc/logo-ja.png -text
gemsfits/tcejdb/doc/logo.png -text
gemsfits/tcejdb/doc/tokyoproducts.pdf -text
gemsfits/tcejdb/doc/tokyoproducts.ppt -text
gfshell-build/stylesheet.qss -text
gfshell-build/ui/ui_mainwindow.h -text
gfshell-build/ui/ui_sqlscript.h -text
gfshell/forms/browserwidget.ui -text
gfshell/forms/mainwindow.ui -text
gfshell/forms/qsqlconnectiondialog.ui -text
gfshell/forms/sqlscript.ui -text
gfshell/gemsfit-gui.pro -text
gfshell/src-gui/gui.pri -text
gfshell/src-gui/main.cpp -text
gfshell/src-gui/mainwindow.cpp -text
gfshell/src-gui/mainwindow.h -text
gfshell/src-gui/moc_grid_delegate.cpp -text
gfshell/src-gui/moc_mainwindow.cpp -text
gfshell/src-gui/moc_sqlscript.cpp -text
gfshell/src-gui/sqldbmanager.cpp -text
gfshell/src-gui/sqldbmanager.h -text
gfshell/src-gui/sqlscript.cpp -text
gfshell/src-gui/sqlscript.h -text
gfshell/src-gui/system_properties.cpp -text
gfshell/src-gui/system_properties.h -text
