* text=auto !eol
Tests/CASH/CASH-data-LHopital/CASH-EL01-data.xls -text
Tests/CASH/CASH-data-LHopital/impdata-expcsd.sql -text
Tests/CASH/CASH-data-LHopital/impdata-expresaq.sql -text
Tests/CASH/CASH-data-LHopital/impdata-expresss.sql -text
Tests/CASH/CASH-data-LHopital/impdata_to_exp_comp.sql -text
Tests/CASH/CASH-data-LHopital/impdata_to_exp_phases.sql -text
Tests/CASH/CASH-data-LHopital/impdata_to_resultsaq.sql -text
Tests/CASH/CASH-data-LHopital/impdata_to_resultsss.sql -text
Tests/CASH/CSH-ch04-data.xls -text
Tests/CASH/CSH-gc65-data.xls -text
Tests/CASH/impdata_to_exp_comp.sql -text
Tests/CASH/impdata_to_exp_phases.sql -text
Tests/CASH/impdata_to_resultsaq.sql -text
Tests/CASH/impdata_to_resultsaqsql -text
Tests/CASH/impdata_to_resultsss.sql -text
Tests/CASH/solcash.backup -text
Tests/CASH/solcash_gs65.backup -text
Tests/CASH/solcash_new.backup -text
Tests/SS_INPUT/SS_GEMSFIT_input.dat -text
Tests/SS_INPUT/qtz_h2o_test-dat.lst -text
Tests/SS_INPUT/qtz_h2o_test-dbr-0-0000.dat -text
Tests/SS_INPUT/qtz_h2o_test-dbr.lst -text
Tests/SS_INPUT/qtz_h2o_test-dch.dat -text
Tests/SS_INPUT/qtz_h2o_test-ipm.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dat.lst -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0000.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0001.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0002.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0003.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0004.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0005.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0006.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0007.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0008.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0009.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0010.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0011.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0012.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0013.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0014.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0015.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0016.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0017.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0018.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0019.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dbr.lst -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-dch.dat -text
Tests/SS_INPUT_CSV/qtz_h2o_csv_test-ipm.dat -text
Tests/SS_INPUT_CSV/solubility.csv -text
Tests/soldata.backup -text
Tests/test.backup -text
csvtoejdb/csvtoejdb-build/.~lock.CASH.csv# -text
csvtoejdb/csvtoejdb-build/CASH/CASH.csv -text
csvtoejdb/csvtoejdb-build/CASH/CASH.xls -text
csvtoejdb/csvtoejdb-build/CASH/solcash -text
csvtoejdb/csvtoejdb-build/CASH/solcash_experiments -text
csvtoejdb/csvtoejdb-build/Makefile -text
csvtoejdb/csvtoejdb-build/csvtoejdb -text
csvtoejdb/csvtoejdb/csvtoejdb.pro -text
csvtoejdb/csvtoejdb/csvtoejdb.pro.user -text
csvtoejdb/csvtoejdb/main.cpp -text
csvtoejdb/csvtoejdb/main/csv_praser.cpp -text
csvtoejdb/csvtoejdb/main/csv_praser.h -text
csvtoejdb/csvtoejdb/main/main.cpp -text
csvtoejdb/csvtoejdb/main/main.pri -text
docs/Developing[!!-~]GEMSFIT(GUI)_GEMS3K.pdf -text
docs/GEMSFIT_help.doc -text
docs/GFIT-keywords_.txt -text
docs/HowToBuildGEMSFIT.txt -text
docs/HowToDevelopGEMSFIT(GUI).html -text
docs/RDBMS[!!-~]structure.pptx -text
docs/copy_database_to_other_PC-server.txt -text
docs/create_nacl_actcoeff_table.sql -text
docs/install_setup_Postgresql.txt -text
docs/load_NaCl_ambient_from_csv.sql -text
docs/nacl_298k.csv -text
gemsfit-build/GEMSFIT_input.dat -text
gemsfit-build/SS_INPUT/SS_GEMSFIT_input.dat -text
gemsfit-build/SS_INPUT/SS_GEMSFIT_input_withRDC.dat -text
gemsfit-build/SS_INPUT/qtz_h2o_nacl-dat.lst -text
gemsfit-build/SS_INPUT/qtz_h2o_nacl-dbr-0-0000.dat -text
gemsfit-build/SS_INPUT/qtz_h2o_nacl-dch.dat -text
gemsfit-build/SS_INPUT/qtz_h2o_nacl-ipm.dat -text
gemsfit-build/SS_INPUT/qtz_h2o_test-dat.lst -text
gemsfit-build/SS_INPUT/qtz_h2o_test-dbr-0-0000.dat -text
gemsfit-build/SS_INPUT/qtz_h2o_test-dbr.lst -text
gemsfit-build/SS_INPUT/qtz_h2o_test-dch.dat -text
gemsfit-build/SS_INPUT/qtz_h2o_test-ipm.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dat.lst -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0000.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0001.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0002.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0003.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0004.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0005.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0006.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0007.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0008.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0009.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0010.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0011.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0012.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0013.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0014.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0015.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0016.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0017.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0018.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr-0-0019.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dbr.lst -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-dch.dat -text
gemsfit-build/SS_INPUT_CSV/qtz_h2o_csv_test-ipm.dat -text
gemsfit-build/SS_INPUT_CSV/solubility.csv -text
gemsfit/docs/txt/HowToBuildGEMSFIT.txt -text
gemsfit/gemsfit.pro -text
gemsfit/gemsfits.pro -text
gemsfit/src-fit/data_manager.cpp -text
gemsfit/src-fit/data_manager.h -text
gemsfit/src-fit/fit.pri -text
gemsfit/src-fit/fit_statistics.cpp -text
gemsfit/src-fit/fit_statistics.h -text
gemsfit/src-fit/gemsfit_global_functions.cpp -text
gemsfit/src-fit/gemsfit_global_functions.cpp.new -text
gemsfit/src-fit/gemsfit_global_functions.h -text
gemsfit/src-fit/gemsfit_global_functions.h.new -text
gemsfit/src-fit/gemsfit_global_variables.h -text
gemsfit/src-fit/main.cpp -text
gemsfit/src-fit/measdata_modified.cpp -text
gemsfit/src-fit/new_data_manager.cpp -text
gemsfit/src-fit/new_data_manger.h -text
gemsfit/src-fit/opt_vector.cpp -text
gemsfit/src-fit/opt_vector.h -text
gemsfit/src-fit/optimization.cpp -text
gemsfit/src-fit/optimization.h -text
gemsfit/src-fit/plot_class.cpp -text
gemsfit/src-fit/plot_class.h -text
gemsfit/src-fit/system_properties.cpp -text
gemsfit/src-fit/system_properties.h -text
gemsfit/src-fit/system_restart.cpp -text
gemsfit/src-fit/system_restart.h -text
gemsfit/tcejdb/bros/result.xls -text
gemsfit/tcejdb/doc/benchmark.pdf -text
gemsfit/tcejdb/doc/icon16.png -text
gemsfit/tcejdb/doc/logo-ja.png -text
gemsfit/tcejdb/doc/logo.png -text
gemsfit/tcejdb/doc/tokyoproducts.pdf -text
gemsfit/tcejdb/doc/tokyoproducts.ppt -text
gemsfitgui-build/stylesheet.qss -text
gemsfitgui-build/ui/ui_mainwindow.h -text
gemsfitgui-build/ui/ui_sqlscript.h -text
gemsfitgui/forms/browserwidget.ui -text
gemsfitgui/forms/mainwindow.ui -text
gemsfitgui/forms/qsqlconnectiondialog.ui -text
gemsfitgui/forms/sqlscript.ui -text
gemsfitgui/gemsfit-gui.pro -text
gemsfitgui/src-gui/gui.pri -text
gemsfitgui/src-gui/main.cpp -text
gemsfitgui/src-gui/mainwindow.cpp -text
gemsfitgui/src-gui/mainwindow.h -text
gemsfitgui/src-gui/moc_grid_delegate.cpp -text
gemsfitgui/src-gui/moc_mainwindow.cpp -text
gemsfitgui/src-gui/moc_sqlscript.cpp -text
gemsfitgui/src-gui/sqldbmanager.cpp -text
gemsfitgui/src-gui/sqldbmanager.h -text
gemsfitgui/src-gui/sqlscript.cpp -text
gemsfitgui/src-gui/sqlscript.h -text
gemsfitgui/src-gui/system_properties.cpp -text
gemsfitgui/src-gui/system_properties.h -text
